---
interface Props {
  title: string;
  date: string;
  author: string;
  excerpt: string;
  image: string;
  slug: string;
}

import '../styles/main.css';
const { title, date, author, excerpt, image, slug } = Astro.props;
---

<div class="col-lg-12 col-md-12 col-sm-12 mx-auto mb-3 card-info">


  <a href={`/post/${slug}`} class="text-decoration-none">


  <div
      class="card blog-card  d-flex "
      style="
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
      "
    >

<div class="row col-lg-12  d-flex  ">
      <img class="col-lg-5 col-md-12 col-sm-12"
        src={image}
        alt={title}
         
      />
      <div
        class="card-body col-sm-12 col-lg-6 d-flex flex-column justify-content-center">
        <h1
          style="
            font-size: 24px;
            color: #004200;
            margin-bottom: 10px;
          "
        >
          {title}
        </h1>
        <p style="font-size: 12px; color: #999; margin-bottom: 8px">
          {date} · Autor: {author}
        </p>
        <p style="font-size: 16px; color: #555; margin: 0">
          {excerpt}
        </p>
      </div>
    </div>
    </div>
  </a>


</div>
